'<div class="row">
    <div class="col-md-6">
      <h2>Show client</h2>
    </div>
    <div class="col-md-6 text-right">
      <a [routerLink]="['/clients/edit', myClient.id]"  class="btn btn-sm btn-dark ml-1"><i class="fa fa-pencil"> Edit client</i></a>
      <a routerLink="/clients" class="btn btn-sm btn-primary ml-1"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to list</a>
    </div>
  </div>
  
  <div class="row my-4">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Details</h4>
          <hr>
          <div class="card-text">
            <ul>
              <li>Full name: {{ myClient.firstName }} {{ myClient.lastName }}</li>
              <li>Phone: {{ myClient.phone }}</li>
              <li>Email: {{ myClient.email }}</li>
              <li>Balance: {{ myClient.balance }}</li>
              <li>Contact: {{ myClient?.contact?.label }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>